html {
  box-sizing: border-box;
}
body {
  background-image: url(/images/shiplap.jpeg);
  background-size: cover;
  color: black;
  font-weight: bold;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: #d44819;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  gap: 30px;
}

nav > a{
  color: white;
  margin-left: auto;
  font-size: 24px;
}

.right {
  margin-left: auto
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

table {
  font-size: 20px;
}
