html {
  box-sizing: border-box;
}
body {
  background-color: #b19898f9;
  color: #f6f6f6;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: #2b548b;
  color: #b19898f9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  gap: 30px;
}

nav > a{
  color: #b19898f9;
  margin-left: auto;
}

.right {
  margin-left: auto
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

table {
  font-size: 20px;
}
