  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  section > div {
    margin-bottom: 10px;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
  }
  
  .btn-container > * {
    margin: right;
  }
