<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/restaurants/form.css" />
<%- include('../partials/nav') %>

<main>
  <h1> <%= title %></h1>
  <form id="new-form" action="/restaurants" method="POST">
    <label for="restaurant-input">Name</label>
    <input type="text" name="name" id="restaurant-input">
    <label for="location-input">Location</label>
    <input type="text" name="location" id="location-input">
    <label for="specialty-select">Specialty</label>
    <select name="specialty" id="specialty-select">
      <option value="Breakfast">Breakfast</option>
      <option value="Brunch">Brunch</option>
      <option value="Lunch">Lunch</option>
      <option value="Dinner" selected>Dinner</option>
    </select>
    <label for="foodType-select"> Style of Food</label>
    <input type="text" name="foodType" id="foodType-select">
    <label for="attire-select">Attire</label>
    <select name="attire" id="attire-select">
      <option value="Fancy">Fancy</option>
      <option value="Casual">Casual</option>
    </select>
    <button type="submit">Submit</button>
  </form>
</main>

<%- include('../partials/footer') %>